# dependencias
node_modules/

# build
dist/
.astro/
.netlify/
.vercel/

# ambiente
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# sistema / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
